@import '../../utils/styles/breakpoints.scss';
@import '../../utils/styles/variables.scss';

.Header {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 20px;
    align-items: center;
    overflow: hidden;
    color: $white;
    z-index: 1;
    top: 0;
    background-color: $header-background;

    @include medium {
        position: fixed;
        justify-content: space-evenly;
        padding: 0;
    }
}

.Fixed {
    position: fixed;
}

.Link {
        display: block;
        flex-basis: 20%;
        cursor: pointer;
        font-size: 25px;
}

.Title {
  display: none;

  transition: color 0.1s ease-in-out;

  &:hover {
    color: $current;
  }

  @include medium {
    display: flex;
  }
}

.isCurrent {
  color: $current;
  pointer-events: none;
}

