@import '../../utils/styles/breakpoints.scss';

.Header {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 20px;
    align-items: center;
    overflow: hidden;
    color: white;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;

    @include medium {
        position: fixed;
        justify-content: space-evenly;
        padding: 0;
    }
}

.Fixed {
    position: fixed;
}

.Link {
    display: none;

    @include medium {
        display: block;
        flex-basis: 20%;
        cursor: pointer;
    }
}

.Title {
  display: none;

  transition: color 0.1s ease-in-out;

  &:hover {
    color: #ffc107;
  }

  @include medium {
    display: flex;
  }
}

.isCurrent {
  color: #ffc107;
  pointer-events: none;
}

