@import '../../utils/styles/breakpoints.scss';
@import '../../utils/styles/variables.scss';

.Card {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin: 20px 0;
  flex-basis: 100%;
  color: $white;
  border: 1px solid $white;
  min-width: 250px;

  @include medium {
    margin: 0;
    flex-basis: 23%;
  }
}

.Label {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.Value {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
