@import 'utils/styles/variables';

.Earth {
    transform: scale(0.1);
    left: $sun_size + 112px;
    opacity: 1;
    background: url('/public/earth_texture.jpg') repeat-x;
    background-size: 220% 124%;
}
