@import 'utils/styles/variables';

.Jupiter {
    left: $sun_size + 500px;
    transform: scale(1.1);
    background: url('https://www.solarsystemscope.com/textures/download/2k_jupiter.jpg') repeat-x;
}
