@import 'utils/styles/variables';

.Venus {
    transform: scale(0.09);
    left: $sun_size + 75px;
    background: url('https://www.solarsystemscope.com/textures/download/2k_venus_surface.jpg') repeat-x;
}
