.Main {
    display: flex;
    height: 100vh;
    background: url('../public/milky_way_texture.jpg') top center;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
}

.Content {
    display: flex;
    align-items: center;
}

.Title {
    position: fixed;
    color: white;
    width: 100%;
    margin-top: 150px;
    letter-spacing: 4px;
}
