.main {
    display: flex;
    height: 100vh;
    background: url('../public/milky_way.jpeg') top center;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
}

.content {
    display: flex;
    align-items: center;
}
