@import 'utils/styles/variables.scss';

.Sun {
    position: absolute;
    width: $sun_size + px;
    height: $sun_size + px;
    transform: scale(10.1);
    left: -4 * $sun_size + px;
    border-radius: 50%;
    background: $sun_background;
    box-shadow: 0 0 30px #eb1, 0 0 4 * $sun_size + px $sun_box-shadows;
}
