html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Spartan', sans-serif;
  background: url('../public/milky_way_texture.jpg') top center;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
